.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }

body {
    background-color: rgb(127, 4, 151);
    padding: 50px 0;
  }
  .content {
  }

  .box is-medium {

  }

  .name {
    text-align: center;
    font: normal 30px/1.5 "Times New Roman", Times, serif;
    color: rgb(12, 8, 8)
  }

  .address {

  }

  .category {

  }



